/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}
.logo img {
    width: 100px;
    padding: 10px;
}
.container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr;
    padding: 0;
    align-items: center;
}
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav a {
    color: #fff;
    padding: 10px;
    text-decoration: none;
}

nav a:hover {
    background: #575757;
}

main {
    margin: 20px 0;
}
.hero2 img {
    position: relative;
    width: 100%;
    height: auto;
}
.hero2 h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.image-container img {
    width: 100%;
    height: auto;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
}

@media (min-width: 768px) {
    .image-container img {
        width: calc(50% - 10px);
    }
}

@media (min-width: 1024px) {
    .image-container img {
        width: calc(33.33% - 10px);
    }
}
